
#connectBtn{
    -fx-color: #ffffff;
    -fx-padding: 5px 20px;
    -fx-background-color: linear-gradient(to bottom, #00ff00 100%, #00ff00 100%);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    -fx-opacity: 1;
}
#connectBtn:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.5;
}

#connectBtn:pressed{
    -fx-opacity: 1;
    -fx-padding: 5px 20px;
    -fx-spacing: 10px;
    -fx-start-margin: 10px;
    -fx-background-color: linear-gradient(to bottom, #00ff00 100%, #00ff00 100%);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-cursor: hand;
}